{{ template "theme/partials/head.html" . }}
<body class="layout-reverse">

{{ template "theme/partials/sidebar.html" . }}

  <div class="content container">
    <h1>Home</h1>
    <h2>Coding blog</h2>
      <a href="/post">Archive</a>
      {{ range first 3 .Data.Pages }}
        {{ .Render "summary"}}
      {{ end }}
    <h2>Hobby dev</h2>
      <article>
        <h3><a href="http://mandelbrotserver.appspot.com">Images of the Mandelbrot set</a> - Served by Google AppEngine</h3>
        <p><iframe src="http://ghbtns.com/github-btn.html?user=baruchlubinsky&repo=fractalserver&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe></p>
        <p>A web service written in Go for the Google AppEngine. The API returns a region of the <a href="http://en.wikipedia.org/wiki/Mandelbrot_set">Mandelbrot set</a>. Each image is a 256x256 pixel png. Visit the link above for more.</p> 
      </article>
      <article>
        <h3><a href="http://godoc.org/github.com/baruchlubinsky/beerapi">Beer API</a> - Serve any data. Compatible with Ember Data REST Adapter.</h3>
        <p><iframe src="http://ghbtns.com/github-btn.html?user=baruchlubinsky&repo=beerapi&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe></p>
        <p>A REST web server written in Go. This program responds as expected to any (work in progress) request from <a href="http://emberjs.com/api/data/">Ember Data's</a> <a href="http://emberjs.com/guides/models/the-rest-adapter/">REST Adapter</a>. The backend does no processing, all the responsibility for the data is on the Ember application. Checkout the <a href="http://www.ember-cli.com/">Ember-cli</a> application <a href="https://github.com/baruchlubinsky/beerdemo">BeerDemo</a> to see how the server may be used. This is a also a demonstration of how easily web applications can be written using Ember Data.</p>
      </article>
      <article>
        <h3><a href="https://github.com/baruchlubinsky/everyrest">EveryREST</a> - An App Engine REST server</h3>
        <p><iframe src="http://ghbtns.com/github-btn.html?user=baruchlubinsky&repo=everyrest&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe></p>
        <p>A minimal web server for <a href="https://appengine.google.com/">Google App Engine</a>. The server does not handle any of the application logic. It is an implementation of <a href="http://godoc.org/github.com/baruchlubinsky/beerapi">Beer API</a> using the <a href="https://developers.google.com/appengine/docs/go/datastore/">App Engine Datastore</a>. My thinking is that all the logic can be handled by an Ember App using the <a href="http://emberjs.com/guides/models/the-rest-adapter/">REST Adapter</a>. These ease of deploying this code to App Engine makes it possible to allow each user to own their instance of the server.</p> 
      </article>
      <h2>Work</h2>
      <p><a href="https://hiv.sanbi.ac.za">SANBI - HIV Drug Resistance Pipeline</a></p>
      <p><a href="http://www.presentsinthepost.co.za">Presents in the Post</a></p>
      <h2>Music</h2>
      <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/13121319&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=true&amp;visual=false&amp;start_track=0&show_artwork=true"></iframe>
      <h2>Links</h2>
      <p><a href="http://physics.stackexchange.com/questions/137189/why-is-the-sky-never-green-it-can-be-blue-or-orange-and-green-is-in-between">Great explanations of the colours in the sky</a></p>
      <p><a href="http://www.quantamagazine.org/20141103-in-a-multiverse-what-are-the-odds/">Serious physics discussion about the multiverse theory</a><p>
      <div class="acknowledge">
        <a href="/post/2014/08/thiswebsite/">Acknowledgments</a>
      </div>
  </div>
</body>
</html>
